body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(204, 204, 204) */
  background: url(../../resources/Images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

html{
  background: url(../../resources/Images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.snipListContainer{
  
  margin-top: 5vh;
  
}

.ui.three.item.inverted.menu.left{
  background-image: linear-gradient(
    135deg, 
    rgb(245, 241, 241) 20%, 
    rgb(99, 131, 233) 69%,
    rgb(23, 21, 148) 89%) !important;
}
